{% extends "study_register/base.html" %}

{% block title %}  Study Form{% endblock title %}
{%block content %}
<form action="" aria-readonly autocomplete="off" >
    {% csrf_token %}
    StudyID: <input class="form-control" type="text" value="{{id}}" readonly/>
    {{form}}
    <datalist id="sponsorname-list" >
        {% for sponsor in sponsors %}
            <option value="{{ sponsor }}"></option>
        {% endfor %}
    </datalist>
</form> 
<div class="p-3"></div>
    <a href="{% url 'study_list' %}" class="form-control btn btn-danger ">Cancel</a>
 
 
{% endblock content %}